:80

@insecure {
  header X-Forwarded-Proto http
}

route /assets/* {
    file_server {
        root /app/
    }
    redir @insecure https://{host}{uri} permanent
}

route {
    reverse_proxy localhost:8080
}





