<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>checkdns.run</title>
  <meta name="description" content="Quickly check DNS records.">

  <meta property="og:title" content="checkdns.run">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Quickly check DNS records.">

  <link rel="icon" href="/assets/favicon.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&amp;display=swap" rel="stylesheet">
  <link href="/assets/main.css" rel="stylesheet" />

</head>

<body>
  <div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between md:justify-center h-16">
          <div class="flex items-center">
            <div class="flex items-baseline space-x-4">
              <a href="/" class="text-white text-xl font-semibold">checkdns.run</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
          <div class="max-w-2xl mx-auto">
          {{ template "main" . }}
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="//unpkg.com/alpinejs" defer></script>
</body>
</html>
